.home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8.4em;

    animation: fadeInAnimation ease-out 0.8s;
    animation-iteration-count: 1;
    
    width: 70%;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.hi{
    line-height: 1em;
    margin-right: 0.2em;
    
}

.intro {
    font-size: 0.3em;
}

.text {
    font-size: 0.15em;
}

@media only screen and (max-width: 1680px)  {
    .home {
        width: 840px;
    }
}

@media only screen and (max-width: 1200px)  {
    .home {
        display: block;
        width: 450px;
        text-align: center;

    }
    .hi {
        width: 100%;
    }
}

@media only screen and (max-width: 600px)  {
    .home {
        display: block;
        width: 400px;
        text-align: center;
        font-size: 7em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hi {
        margin: 0;
        width: 100%;
    }
    
    .greeting {
        width: 80vw;
       
    }
}