.container {
    width: 100%;
    display: flex;
    justify-content: center;
}


.menu {
    width: 65%;
    user-select: text;
    display: flex;
    justify-content: center;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    background-color: white;
    position:fixed;
    z-index: 1;
}
.link {
    color: inherit; 
    text-decoration: none;
    
}
.menuItem {
    font-size: 1.2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    cursor: pointer;
    color: rgb(80, 80, 80);
    background-color: transparent;
    border-style: none;
    
}

.selected {
    
    color: rgb(200, 200, 200);
    cursor:default;
}

@media only screen and (max-width: 600px)  {
    .menu {
        font-size: 0.9em;
    }
}
